.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 14px;
    padding: 12px;
    color: var(--light-grey);
}

.btn:hover{
    color: var(--white);
}