@font-face {
  font-family: "Nighty";
  src: local("Nighty"),
    url("./fonts/Nightydemo.otf") format("opentype");
  font-weight: normal;
}



:root {
  --primary: #BBFCDC;
  --primary-light: #DDFFEF;
  --red: #FF6F61;
  --purple: #E6BBFC;
  --blue: #BBF2FC;
  --yellow: #FCF9BB;
  --dark: #111111;
  --grey: #242525;
  --light-grey: #6E6E6E;
  --middle-grey: #313333;
  --dark-grey: #1E1F1F;
  --white: #F4F6FE;
  --pink: #FCBBC7;
  --dark-purple: #BCBBFC;
  --middle-purple: #F6BBFC;
  --light-green: #BBFCEC;
  --green: #C8FCBB;
  --peach: #FCD2BB;
  --middle-yellow: #FCE4BB;
  --secondary-purple: #E6BBFC;
  --dark-tr: rgba(17, 17, 17, 0.8);
}

#root{
  width: 100%;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 264px;
}

body{
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
}

@media (max-width: 760px) { 
  #root{
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 16px;
      margin-bottom: 16px;
  }
  
}

@supports (-webkit-touch-callout: none) {
  input{
    font-size: 16px !important;
  }
}