.badge{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--dark);
}

.badge p{
    text-align: center;
    font-size: 12px;
    font-family: "Inter";
    line-height: 16px;
    color: var(--dark);
    font-weight: 400;
    margin: 0;
}