.wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    flex: 1;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 24px;
    border-radius: 38px;
    height: calc(100% - 56px);
    gap: 8px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-image: url(../../../../assets/creatorCardBg.svg);
    background-size: cover;
    background-position: center center;
    border-radius: 14px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    color: var(--light-grey);
}

@media (max-width: 1260px){
    .wrapper{
        width: calc(100% - 56px);
        margin-left: 4px;
        margin-bottom: 4px;
        margin-top: 0;
    }
    .text{
        height: 150px;
    }
}