.primary{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 27px;
    padding-right: 27px;
    border: 1px solid var(--primary);
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--dark);
    font-weight: 900;
    margin: 0;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all ease-in-out 0.2s;
}

.secondary{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 27px;
    padding-right: 27px;
    border: 1px solid var(--light-grey);
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--light-grey);
    font-weight: 900;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all ease-in-out 0.2s;
}

.onlyIcon{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    border: 1px solid var(--light-grey);
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--light-grey);
    font-weight: 900;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all ease-in-out 0.2s;
}

.delete{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    border: 1px solid var(--red);
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--red);
    font-weight: 900;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all ease-in-out 0.2s;
}

.onlyIcon:hover{
    border: 1px solid var(--white);
    color: var(--white);
    transition: all ease-in-out 0.2s;
}

.secondary:hover{
    border: 1px solid var(--white);
    color: var(--white);
    transition: all ease-in-out 0.2s;
}

