.wrapper{
    display: none;
}

.menuContainer{
    display: none;
}

.nav{
    display: none;
}

@media (max-width: 760px){
    .wrapper{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 2;
        width: calc(100% - 32px);
        border-radius: 18px;
    }
    
    .menuContainer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: var(--dark);
        width: calc(100% + 32px);
        height: 100dvh;
    }

    .nav{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: calc(100% - 32px);
        height: calc(100dvh - 16px);
        margin-top: 76px;
        margin-bottom: 16px;
    }

    .menuClosed{
        display: none;
    }
}