.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light-grey);
}