.connectButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light-grey);
    width: 100%;
}

.hiddenButton{
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wrapper{
    position: relative;
    display: flex;
}