.wrapper{
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--dark);
    padding: 4px;
    flex: 1;
    transition: all ease-in-out 0.2s;
}




.textContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    margin-left: 8px;
}

.title{
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--white);
    font-weight: 900;
    letter-spacing: 0%;
    margin: 0;
}

.subtitle{
    font-size: 12px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    color: var(--light-grey);
    text-align: left;
}

.animContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 4px;
    height: 100%;
    aspect-ratio: 1/1;
}

.wrapper:hover{
    transition: all ease-in-out 0.2s;
}

.animation{
    width: 68px;
    height: 68px;
}

@media(max-width: 1260px){
    .animation{
        width: 60px;
        height: 60px;
        padding: 4px;
    }
}

@media(max-width: 580px){
    .wrapper{
        max-height: 80px;
    }
    .title{
        font-size: 14px;
    }
}