.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: var(--dark);
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 0;
    transition: all ease-in-out 0.2s;
}

.btn:active{
    opacity: 0.8;
}
