.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: var(--grey);
    border-radius: 8px;
}

.hidden{
    display: none;
}