.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: none;
    border-radius: 14px;
    padding: 4px;
    background-color: var(--grey);
    cursor: pointer;
    flex: 1;
    transition: all ease-in-out 0.2s;
}

.title{
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--white);
    font-weight: 900;
    margin: 0;
}

.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 10px;
    width: 36px;
    height: 36px;
    color: var(--white);
}

.arrow{
    color: var(--light-grey);
    margin-right: 4px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.btn:hover{
    background-color: var(--middle-grey);
    transition: all ease-in-out 0.2s;
}