.title{
    text-align: left;
    font-size: 48px;
    font-family: "Nighty";
    line-height: 40px;
    letter-spacing: 2px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 30px;
}