.badge{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 4px;
    color: var(--white);
}

.music{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.design{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.ai{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.gaming{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.education{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.fitness{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.business{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.art{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.fashion{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.technology{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.content{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grey);
    border-radius: 10px;
    color: var(--white);
}

.text{
    text-align: center;
    font-size: 12px;
    font-family: "Inter";
    line-height: 16px;
    color: var(--white);
    font-weight: 400;
    margin: 0;
}

