.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 8px;
    padding: 12px;
    color: var(--light-grey);
    border: none;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.btn:hover{
    color: var(--white);
    transition: all ease-in-out 0.2s;
}