.container{
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    border-radius: 32px;
    background-color: var(--grey);
}



.elements{
    position: absolute;
    top: 0;
    left: 0;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 48px);
    width: calc(100% - 48px);
    z-index: 2;
}





.bottom{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottomLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats{
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.iconContainer{
    display: flex;
    color: var(--white);
    padding: 6px;
    background-color: var(--dark-tr);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}



