.container{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 8px;
}

.progress{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    align-items: flex-end;
}

.xp{
    font-size: 12px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    color: var(--light-grey);
}

.wrapper{
    display: flex;
    background-color: var(--dark);
    height: 8px;
    padding: 4px;
    border-radius: 100px;
    width: calc(100% - 8px);
    margin-top: 6px;
}

.progressBar{
    height: 100%;
    border-radius: 100px;
    transition: all ease-in-out 0.2s;
}

@media (max-width: 500px){
    .progress{
        align-items: center;
        gap: 4px;
    }
}