.description{
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--white);
    font-weight: 400;
    margin: 0;
    padding: 12px;
}

.descriptionThird{
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--white);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.descriptionContainer{
    background-color: var(--dark-tr);
    border-radius: 8px;
   
}

.descriptionSecondary{
    display: flex;
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    color: var(--white);
    font-weight: 400;
    margin: 0;
    gap: 8px;
    justify-content: space-between;
    align-items: flex-end;
    
}

.descriptionContainerSecondary{
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.descriptionContainerThird{
    border-radius: 8px;
    width: calc(100% - 24px);
    padding-right: 24px;
}

.expandBtn{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--light-grey);
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    font-weight: 400;
}

.expandBtnThird{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 8px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--light-grey);
    text-align: left;
    font-size: 14px;
    font-family: "Inter";
    line-height: 20px;
    font-weight: 400;
}

@media (min-width: 580px){
    .expandBtn{
        display: none;
    }
}