.sideBar{
    width: 168px;
    height: calc(100% - 96px);
    background-color: var(--grey);
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-radius: 42px;
    padding: 24px;
}

.main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}