.dialogPrimary{
    padding: 24px;
    border-radius: 56px;
    background-color: var(--grey);
    border: none;
    outline: none;
    overflow: visible;
    width: 80%;
}

.dialogSecondary{
    padding: 24px;
    border-radius: 32px;
    background-color: var(--grey);
    border: none;
    outline: none;
    width: 60%;
    height: fit-content;
}

.inside{
    height: 100%;
}



::backdrop {
    background-color: var(--dark-tr);
}

@media(max-width: 630px){
    .dialogSecondary{
        padding: 24px;
        border-radius: 32px;
        background-color: var(--grey);
        border: none;
        outline: none;
        width: calc(100% - 80px);
        height: fit-content;
    }
}

@media(min-width: 1091px){
    .dialogSecondary{
        display: none;
    }
}

@media(max-width: 1090px){
    .dialogPrimary{
        display: none;
    }
}

@media(max-width: 1260px){
    .dialogPrimary{
        width: calc(100% - 96px);
        height: fit-content;
    }
}

@media(max-width: 760px){
    .dialogPrimary{
        width: calc(100% - 80px);
        height: fit-content;
    }
}