.dialogPrimary{
    padding: 24px;
    border-radius: 56px;
    background-color: var(--grey);
    border: none;
    outline: none;
    width: calc(100% / 2);
    height: fit-content;
    overflow: visible;
}

.dialogSecondary{
    padding: 24px;
    border-radius: 32px;
    background-color: var(--grey);
    border: none;
    outline: none;
    width: calc(100% - 80px);
    height: fit-content;
}

.inside{
    height: 100%;
}

::backdrop {
    background-color: var(--dark-tr);
}

@media(min-width: 581px){
    .dialogSecondary{
        display: none;
    }
}

@media(max-width: 580px){
    .dialogPrimary{
        display: none;
    }
}

@media(max-width: 1030px){
    .dialogPrimary{
        width: calc(100% - 96px);
        height: fit-content;
    }
}

@media(max-width: 760px){
    .dialogPrimary{
        width: calc(100% - 80px);
        height: fit-content;
    }
}