.filter{
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: calc(100% - 48px);
    justify-content: space-between;
    gap: 8px;
}

.section{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.text{
    text-align: center;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 200;
    line-height: 20px;
    margin: 0;
}

.textSelected{
    text-align: center;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    color: var(--primary);
}

.iconSelected{
    color: var(--primary);
}

@media(max-width: 580px){
    .filter{
        margin-bottom: 0;
    }
}