.avatarSmall{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    flex-shrink: 0;
}

.avatarBig{
    width: 140px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    flex-shrink: 0;
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


