.avatarSmall{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
}

.avatarBig{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


