@font-face {
  font-family: "Nighty";
  src: local("Nighty"),
    url("./fonts/Nightydemo.otf") format("opentype");
  font-weight: normal;
}


:root {
  --primary: #BBFCDC;
  --red: #FF6F61;
  --purple: #E6BBFC;
  --blue: #BBF2FC;
  --yellow: #FCF9BB;
  --dark: #171717;
  --grey: #2A2A2A;
  --light-grey: #909090;
  --dark-grey: #222121;
  --white: #F4F6FE;
}

#root{
  width: 100%;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 264px;
}

body{
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

