:root {
  --primary: #BBFCDC;
  --red: #FF6F61;
  --purple: #E6BBFC;
  --blue: #BBF2FC;
  --dark: #171717;
  --grey: #2A2A2A;
  --light-grey: #909090;
  --white: #F4F6FE;
}

body{
  background-color: var(--dark);
  display: flex;
  height: 100dvh;
  margin: 0;
}

