.wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    flex: 1;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 24px;
    border-radius: 38px;
    height: calc(100% - 56px);
}

.actions{
    font-size: 36px;
    font-family: "Nighty";
    line-height: 28px;
    letter-spacing: 2px;
    color: var(--white);
    font-weight: 400;
    margin: 0;
    margin-bottom: 4px; 
}