.profile{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: var(--grey);
    border-radius: 42px;
    gap: 4px;
    padding: 4px;
}

.actions{
    width: 50%;
    background-color: var(--dark);
    display: flex;
    border-radius: 38px;
    padding: 24px;
}