.profile{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: var(--grey);
    border-radius: 42px;
    gap: 4px;
}

@media (max-width: 1260px){
    .profile{
        flex-direction: column;
    }
}